body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo-web {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
}

.nav-link:hover, .nav-link:focus  {
    color: #404BBF;
}

.adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.adress-link:hover, .adress-link:focus {
    color: #404bbf;
}

.main-header {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 0.93333;
    text-align: center;
    color: #fff;
    background-color: #2e2f42;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    cursor: pointer;
    letter-spacing: 4%;
    font-weight: 500;
}

.list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 2%;
}

.features-header {
    display: none;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 2%;
    text-align: center;
    color: #2e2f42;
}

.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 2%;
    text-align: center;
    color: #2e2f42;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #f4f4fd;
    background-color: #2e2f42;
}